In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!pip install --user nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)

In [ ]:
df = pd.read_csv('train_data.csv')

In [ ]:
solution = pd.read_csv('train_solution.csv')

In [ ]:
df = df.merge(solution, on='id')

In [ ]:
df.head()

       id                                            message  category
0  271828  Over $616 million in Bitcoin was electrocated ...         1
1  271829                          Quiz: Thursday or friday?         0
2  271830  The Australian Revenue Authority will start co...         1
3  271831   Let's continueðŸ˜‰. I present to you my new review          2
4  271832                    Here comes your future palette.         2

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from string import punctuation

punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
import re
regex = re.compile("[A-z]+")

def words_only(text, regex=regex):
    try:
        return regex.findall(text)
    except:
        return []

In [ ]:
def lemmatize(text):
    try:
        res = " ".join([word.lower() for word in text if word.lower() not in stop and word.lower() not in punctuation])
        return res
    except:
        return " "

In [ ]:
def clean_text(text):
    return lemmatize(words_only(text))

In [ ]:
from multiprocessing import Pool
from tqdm import tqdm

with Pool(8) as p:
    lemmas = list(tqdm(p.imap(clean_text, df['message']), total=len(df)))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3844/3844 [00:01<00:00, 3523.62it/s]

In [ ]:
df["lemmas"] = lemmas
df.head()

,id,message,category,lemmas
0,271828,Over $616 million in Bitcoin was electrocated ...,1,million bitcoin electrocated september wrapped...
1,271829,Quiz: Thursday or friday?,0,quiz thursday friday
2,271830,The Australian Revenue Authority will start co...,1,australian revenue authority start collecting ...
3,271831,Let's continueðŸ˜‰. I present to you my new review,2,let continue present new review
4,271832,Here comes your future palette.,2,comes future palette

In [ ]:
df = df.drop('id', axis='columns')

In [ ]:
df = df.drop('message', axis='columns')
df.head()

   category                                             lemmas
0         1  million bitcoin electrocated september wrapped...
1         0                               quiz thursday friday
2         1  australian revenue authority start collecting ...
3         2                    let continue present new review
4         2                               comes future palette

In [ ]:
from sklearn.model_selection import train_test_split

X = df.lemmas.tolist()
y = df.category.tolist()

X, y = np.array(X), np.array(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print ("total train examples %s" % len(y_train))
print ("total test examples %s" % len(y_test))

total train examples 2575
total test examples 1269

In [ ]:
with open('train.txt', 'w+') as outfile:
    for i in range(len(X_train)):
        outfile.write('__label__' + str(y_train[i]) + ' '+ X_train[i] + '\n')

with open('test.txt', 'w+') as outfile:
    for i in range(len(X_test)):
        outfile.write('__label__' + str(y_test[i]) + ' ' + X_test[i] + '\n')

In [ ]:
! git clone https://github.com/facebookresearch/fastText.git
! pip3 install fastText/.

Cloning into 'fastText'...
remote: Enumerating objects: 3930, done.
remote: Counting objects: 100% (943/943), done.
remote: Compressing objects: 100% (137/137), done.
remote: Total 3930 (delta 854), reused 806 (delta 806), pack-reused 2987
Receiving objects: 100% (3930/3930), 8.24 MiB | 19.31 MiB/s, done.
Resolving deltas: 100% (2505/2505), done.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Processing ./fastText
  DEPRECATION: A future pip version will change local packages to be built in-place without first copying to a temporary directory. We recommend you use --use-feature=in-tree-build to test your packages with this new behavior before it becomes the default.
   pip 21.3 will remove support for this functionality. You can find discussion regarding this at https://github.com/pypa/pip/issues/7555.
Collecting pybind11>=2.2
  Using cached pybind11-2.10.0-py3-none-any.whl (213 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext==0.9.2) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext==0.9.2) (1.21.6)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp37-cp37m-linux_x86_64.whl size=3154270 sha256=6a97426c6c8161093e5a84f0fc7a8cd8931bb4390b3a78fd40dba09227a7e671
  Stored in directory: /tmp/pip-ephem-wheel-cache-fmukwpq_/wheels/22/04/6e/b3aba25c1a5845898b5871a0df37c2126cb0cc9326ad0c08e7
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.10.0

In [ ]:
import fasttext

In [ ]:
classifier = fasttext.train_supervised('train.txt', epoch=12, loss='ova')

In [ ]:
classifier.test('test.txt')

(1269, 0.8699763593380615, 0.8699763593380615)

In [ ]:
df_res = pd.read_csv('test_data.csv')

In [ ]:
from multiprocessing import Pool
from tqdm import tqdm

with Pool(8) as p:
    lemmas = list(tqdm(p.imap(clean_text, df_res['message']), total=len(df)))

5927it [00:00, 6395.40it/s]

In [ ]:
df_res['lemmas'] = lemmas
df_res.head()

,id,message,lemmas
0,275672,But a lot of people have a job fair tonight.,lot people job fair tonight
1,275673,"Also, I got only 4 answers on the google form ...",also got answers google form
2,275674,"Vladimir, when will we have seminar?",vladimir seminar
3,275675,"A couple at 111, too?",couple
4,275676,"It's on Anti-buying. And again, Zara:",anti buying zara

In [ ]:
df_res = df_res.drop('id', axis='columns')
df_res = df_res.drop('message', axis='columns')
df_res.head()

                         lemmas
0   lot people job fair tonight
1  also got answers google form
2              vladimir seminar
3                        couple
4              anti buying zara

In [ ]:
with open('test2.txt', 'w+') as outfile:
    for i in range(len(df_res)):
        outfile.write(str(df_res.iloc[i]['lemmas']) + '\n')

In [ ]:
result = []

In [ ]:
for i in tqdm(range(df_res.shape[0])):
  result.append(classifier.predict(df_res.iloc[i]['lemmas'])[0][0][9:])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5927/5927 [00:00<00:00, 7334.62it/s]

In [ ]:
result[:5]

['2', '0', '0', '0', '0']

In [ ]:
sub = pd.read_csv('sample_submission.csv')

In [ ]:
sub['category'] = result

In [ ]:
sub.to_csv('sample_submission.csv', index=False)

In [ ]:
sub.head()

       id category
0  275672        2
1  275673        0
2  275674        0
3  275675        0
4  275676        0